In [1]:
import pandas as pd
from models.class_calm_water_resistance_estimatoin import *
from inference.radded_predictor import predict_r_added_from_dir
from inference.compute_daily_fuel import *

In [6]:
# --------------------------------------------------
# 1. Load validation data used for inference
# --------------------------------------------------
df = pd.read_csv('validation_data_55.csv')

# Compute calm-water resistance (unit: kN) for each record
# Cal_R_calm is a user-defined function
df['R_calm'] = df.apply(Cal_R_calm, axis=1)  # kN

# --------------------------------------------------
# 2. Define input feature columns for R_added prediction
# --------------------------------------------------
feature_cols = [
    'SOG', 'heading', 'draught',
    'wind_val', 'wind_direction',
    'wave_val', 'wave_direction',
    'stream_val', 'stream_direction'
]

# --------------------------------------------------
# 3. Predict added resistance (R_added) using trained models
# --------------------------------------------------
# This function loads all required models from the given directory
# and outputs predicted R_added for each record
r_added, data_with_radded, scaler = predict_r_added_from_dir(
    df=df,
    model_dir="Modellib",
    feature_cols=feature_cols,
    scaler_name="scaler_inference.pkl",
    device="cpu"
)

# --------------------------------------------------
# 4. Compute hourly fuel consumption and aggregate to daily fuel / CO2
# --------------------------------------------------
# emission_factor = 3.15 corresponds to ton CO2 per ton fuel
df_hourly, df_daily = compute_daily_fuel(
    data_with_radded,
    time_col="postime",
    emission_factor=3.15
)

# --------------------------------------------------
# 5. Load true (MRV-based) daily fuel / emission data
# --------------------------------------------------
df_true = pd.read_csv('MRV_true.csv')

# Ensure date columns are in datetime format for proper merging
df_daily["date"] = pd.to_datetime(df_daily["date"])
df_true["date"] = pd.to_datetime(df_true["date"])

# Select only necessary columns from prediction results
df_daily_sub = df_daily[["Vessel ID", "date", "emission_predict_day"]]

# --------------------------------------------------
# 6. Merge true and predicted daily CO2 emissions
# --------------------------------------------------
# The merge is performed on Vessel ID and date
# Left join is used to preserve all true records
df_merged = df_true.merge(
    df_daily_sub,
    on=["Vessel ID", "date"],
    how="left"
)

df_merged

/slurm/home/yrd/luolab/zhaoliang/.conda/envs/py310/lib/python3.10/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

,Vessel ID,date,fuel_true_day,emission_true_day,emission_predict_day
0,1,2021-09-23,71.43,225.0045,216.386105
1,1,2021-09-29,64.52,203.2380,210.359621
2,1,2021-10-02,62.02,195.3630,192.851040
3,1,2022-05-04,68.61,216.1215,210.895311
4,1,2022-07-10,52.42,165.1230,163.911538
5,1,2023-03-08,61.59,194.0085,185.930617
6,1,2023-06-06,60.67,191.1105,190.003571
7,1,2024-02-24,48.96,154.2240,164.527325
8,1,2024-03-08,63.94,201.4110,202.149131
9,2,2021-04-13,52.21,164.4615,167.098672
10,2,2021-05-26,59.96,188.8740,187.958227
11,2,2021-07-06,99.73,314.1495,301.666259
12,2,2021-08-30,53.18,167.5170,166.714255
13,2,2023-03-19,44.93,141.5295,155.077536
14,2,2023-04-04,50.28,158.3820,158.221306
15,2,2023-04-12,55.92,176.1480,176.865683
16,2,2023-05-06,51.99,163.7685,181.208799
17,2,2023-07-10,57.11,179.8965,180.418726
18,2,2023-08-14,64.08,201.8520,213.534135
19,2,2023-09-04,51.49,162.1935,159.805263
20,2,2023-10-13,53.24,167.7060,164.445844
21,2,2023-11-23,60.72,191.2680,200.398945
22,2,2023-12-05,61.03,192.2445,197.342269
23,2,2024-01-31,54.21,170.7615,171.705060
24,2,2024-04-16,56.38,177.5970,181.907484
25,2,2024-04-18,60.65,191.0475,188.332273
26,2,2024-04-19,62.65,197.3475,191.908003
27,2,2024-05-01,57.55,181.2825,175.532607
28,2,2024-05-04,57.04,179.6760,176.007853
29,2,2024-05-09,59.61,187.7715,184.761362
30,2,2024-06-21,67.80,213.5700,203.141793
31,2,2024-10-01,51.48,162.1620,172.978439
32,2,2024-11-17,71.00,223.6500,209.753693
33,3,2022-01-11,61.82,194.7330,195.409747
34,3,2022-07-17,63.24,199.2060,196.265315
35,3,2022-11-12,52.68,165.9420,166.982959
36,3,2023-01-30,71.80,226.1700,218.689082
37,3,2023-02-06,56.92,179.2980,171.529672
38,3,2023-02-07,56.67,178.5105,170.679982
39,3,2023-02-09,59.39,187.0785,180.071763
40,3,2023-02-10,53.06,167.1390,175.474223
41,3,2023-02-12,52.46,165.2490,169.389945
42,3,2023-02-13,52.45,165.2175,168.748642
43,3,2023-02-14,52.08,164.0520,167.480948
44,3,2023-02-16,51.90,163.4850,171.166947
45,3,2023-02-18,53.39,168.1785,171.045870
46,3,2023-02-22,56.48,177.9120,186.157090
47,3,2023-04-10,58.23,183.4245,188.143111
48,3,2023-04-12,52.02,163.8630,164.355359
49,3,2023-07-20,65.44,206.1360,211.797229
50,3,2023-07-23,58.67,184.8105,184.835977
51,3,2023-08-04,66.09,208.1835,200.700411
52,3,2023-08-05,65.01,204.7815,194.073608
53,3,2023-08-13,61.66,194.2290,186.392595
54,3,2024-01-18,56.64,178.4160,182.151875